<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
<h4>Update Order Status</h4>
<form method="POST" class="w-50">
    <label>Status</label>
    <select name="status" class="form-select mb-3">
        <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %}>Pending</option>
        <option value="Shipped" {% if order.status == 'Shipped' %}selected{% endif %}>Shipped</option>
        <option value="Delivered" {% if order.status == 'Delivered' %}selected{% endif %}>Delivered</option>
    </select>
    <button class="btn btn-primary">Update</button>
    <a href="{{ url_for('admin') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}

</body>
</html>